html, body { height: 100%; }

body {
  margin: 0;
  > div {
    display: grid;
    grid-template-areas: "header header" "nav main";
    grid-template-columns: 290px 1630px;
    grid-template-rows: max-content 1fr;
    height: 100%;
  }
}
