@mixin generateGridCol($class-slug) {
    @for $i from 1 through 12 {
        .#{$class-slug}-#{$i} {
            grid-column-end: span $i;
            grid-column-start: auto;
        }
  }
}

@mixin generateGridColStart($class-slug) {
    @for $i from 1 through 12 {
        .#{$class-slug}-#{$i} {
            grid-column-start: col-start $i;
        }
  }
}

html, body { height: 100%; }

body {
    margin: 0;
    > div {
        display: grid;
        grid-template-areas: "header header" "nav main";
        grid-template-columns: 290px 1630px;
        grid-template-rows: max-content 1fr;
        height: 100%;
    }
}

header.ssc-c-header {
    grid-column-end: header;
    grid-column-start: header;
    grid-row-end: header;
    grid-row-start: header;
    display: flex;
    flex-wrap: wrap;
}

main.ssc-c-main {
    flex-direction: column;
    grid-column-end: main;
    grid-column-start: main;
    grid-row-end: main;
    grid-row-start: main;
    background-color: rgb(237, 237, 237);
}

.ssc-l-grid {
    display: grid;
    grid-template-columns: unquote("repeat(12, [col-start] 1fr )");

    @include generateGridCol("ssc-l-grid__item--col");
    @include generateGridColStart("ssc-l-grid__item--col-start");
}

.ssc-c-card {
    background: #FFF;
    margin: 20px;
    min-height: 50px;
    box-shadow:rgba(3, 3, 3, 0.2) 0px 1px 2px 0px;
    padding: 20px;

    &.ssc-u-stripped {
        background: linear-gradient(to bottom, #ffffff, #ffffff 97%, #b0b0b0 3%, #b0b0b0);
        background-size: 100% 40px;
        line-height: 4;
        font-size: 20px;
    }

    &.ssc-u-large-text {
        text-align: center;
        line-height: 2;
        font-size: 20px;
    }
}

aside.ssc-c-navigation {
    flex-basis: 0%;
    flex-grow: 1;
    flex-shrink: 1;
    grid-column-end: nav;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-row-start: 2;
    max-width: 290px;
    box-shadow:rgba(3, 3, 3, 0.07) 12px 0px 10px -4px;
    z-index: 200;

    ul {
        padding: 0px;
        list-style-image: none;
        list-style-position: outside;
        list-style-type: none;
        a {
            color:rgb(40, 45, 51);
            display: flex;
            margin: 0;
            padding-bottom: 8px;
            padding-left: 3rem;
            padding-right: 32px;
            padding-top: 16px;
            text-decoration: none;

            &:hover {
                padding-left: 0;
                color:rgb(0, 123, 186);

                &::before {
                    background-color:rgb(0, 123, 186);
                    content: "";
                    position: relative;
                    left: 3rem;
                    box-sizing: border-box;
                    padding: 0;
                    top: 23px;
                    margin: 0;
                    height: 2px;
                    width: 3rem;
                }
            }

            &.ssc-u-active {
                color:rgb(0, 123, 186);
                padding-left: 0;

                &::before {
                    background-color:rgb(0, 123, 186);
                    content: "";
                    position: relative;
                    left: 3rem;
                    box-sizing: border-box;
                    padding: 0;
                    top: 23px;
                    margin: 0;
                    height: 2px;
                    width: 3rem;
                }
            }
        }
    }
}
